<ion-header>
  <ion-toolbar>
    <ion-title>ONEVOLLEYBALL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="6" size-lg="4" size-xl="2">
        <ion-card >
          <ion-card-header>
            <ion-card-title>Novedades de la semana</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-card-title>Mexico vs Brazil</ion-card-title>
            <br> se enfrentaran en un partido que sera el boleto para la siguiente ronda, no te lo puedes perder <br> domingo 18 de diciembre 2:30pm
            <img src="https://i.pinimg.com/564x/5a/c1/9e/5ac19e128d5286f504c2540987a31a6a.jpg" alt="">

            <ion-card-title><br>Francia victoriosa</ion-card-title>
            <br> tras un duro y largo encuentro francia logra conseguir la vistoria del partido ante españana clasificando así como uno de los mejores en su grupo
            <img src="https://i.pinimg.com/564x/cd/65/97/cd65978d1f8084bfe4ae16f112f0c31b.jpg" alt="">

            <ion-card-title><br>Campeonato universitario </ion-card-title>
            <br> apartir del proximo domingo comenzaran los partidos entre las mejores universidades del país, sin duda un espectaculo de un gran nivel, no te lo puedes perder!!!
            <img src="https://i.pinimg.com/564x/bb/6c/68/bb6c68e8a57eb9a2ea6185c724f25b35.jpg" alt="">

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  


  
</ion-content>
