<ion-header [translucent]="true">

   
  <ion-title >
    <div id="container"><img  id="img" src="https://dcassetcdn.com/design_img/3628772/198792/198792_20064502_3628772_a79681ce_image.png"> Pet Love</div>
    </ion-title>
 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
 
  </ion-header>


  <img  id="imgusu" src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg">
<div id="container"> Ivana GV</div>

<div id="lista">
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>Pedidos</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Agenda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cupones</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mi tienda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Preferencia de comunicacion</ion-label>
    </ion-item>
  </ion-list>
</div>
</ion-content>
