<ion-header>
  <ion-toolbar>
    <ion-title>ONEVOLLEYBALL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="6" size-lg="4" size-xl="2">
        <ion-card >
          <ion-card-header>
            <ion-card-title>Gran encuentro de titanes</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Así se vivio la ultima jornada del torneo con una victoria <br> importante para el equipo local, asegurando de esta manera <br> su lugar en los cuartos de final.
            <img src="https://i.pinimg.com/564x/09/90/31/099031b6d6127c34687eafa55e0cdf50.jpg" alt="">
          </ion-card-content>
        </ion-card>
      
        <ion-card >
          <ion-card-header>
            <ion-card-title>ORO para MÉXICO</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            ¡México hace historia! gana oro en voleibol varonil de playa <br> por primera vez, despues de mucho tiempo ¡INCREIBLE! <br>
            <img src="https://i.pinimg.com/564x/3b/82/46/3b8246f7a08c218f7c785fab7272e440.jpg" alt="">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  


  
</ion-content>
