<ion-header>
  <ion-toolbar>
    <ion-title>NOVEDADES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="6" size-lg="4" size-xl="2">
        <ion-card >
        
          <ion-card-content>
            <ion-card-title>Curso de verano <br></ion-card-title>
            <br>
            <img src="https://i.pinimg.com/236x/b7/e0/5e/b7e05e371fb727c811220707363c84cb.jpg" alt="">
            <br>no te quedes sin lugar y llama ya al numero 23898364763 <br>o contactanos por nuestras redes sociales
            
          </ion-card-content>
        </ion-card>
      
        <ion-card >
          <ion-card-content>
            <ion-card-title>Aprovecha ya mismo <br></ion-card-title>
            ¡No esperes mas y compra la edicion especial 2022!, ocupa el siguiente cupon y obten un 30% de descuento 
            <br>
            <img src="https://i.pinimg.com/236x/be/68/22/be68225a8236985dba89821c7556561c.jpg" alt="">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  


  
</ion-content>